<div class="card text-dark border-green row courners" style="max-width: 20rem;">

    <div class="card-body">
    <h4 class="card-title">{{ course.title }}</h4>
    <p class="col-12 card-text">{{ course.description }}</p>
    <p class="col-12 ard-text" *ngIf="isLoggedIn"><strong>Rating: </strong> 
      <span class="fa fa-star checked count-" *ngFor="let score of loggedUserScore; let index = index" (click)="onRateClick(index + 1)"></span>
      <span class="fa fa-star count-" *ngFor="let score of rest; let index = index" (click)="onRateClick(loggedUserScoreLen + index + 1)"></span>
    </p>
   
    <div class="col-12">
        <strong>Participants:</strong>
        <div *ngFor="let user of course.assignedUsers">
          {{ user.name }}
        </div>
    </div>

    <div class="col-12 p-3">
        <button *ngIf="isLoggedIn && canJoin"
        class="btn btn-outline-primary"
        title="Join"
        (click)="onJoinClick()">Join</button>
    
        <button *ngIf="isAdmin"
        class="btn btn-outline-success"
        title="Edit"
        (click)="onEditClick()">Edit</button>
    
        <button *ngIf="isAdmin"
        class="btn btn-outline-danger"
        title="Delete"
        (click)="onDeleteClick()">Delete</button>
    </div> 
  </div>
</div>
